<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @employment.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @employment.end_date %>
</p>


<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
