<%= form_for(@ownership_type) do |f| %>
  <% if @ownership_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ownership_type.errors.count, "error") %> prohibited this ownership_type from being saved:</h2>

      <ul>
      <% @ownership_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
