<div style="color: #222">
<p>Hi</p>

<p>You will doubtless have heard of Good Care Guide, a recently launched website which people are calling a "TripAdvisor
for Care".  Due to some misleading news coverage many people - even social care professionals - think that this site is
a charitable venture developed by CQC.  In fact it is a for-profit venture that merely uses CQC data from last December.</p>
  
<p>We have launched an alternative site - <a href="www.bettercareguide.org">Better Care Guide</a> which is
not-for-profit and free for providers to register (rather than £60, which is the GCG price).  Other sites are expected
from SCIE and Patient Opinion, but timescales are vague.  We feel that our site has a number of
 significant advantages over GCG:</p>
  <ul>
    <li>presentation of the search results is not skewed depending on whether money has changed hands</li>
    <li>has a commitment to make the data available in the public interest to future e-market places</li>
    <li>has up to date provider data for the whole of the UK</li>
    <li>works properly on smartphones and tablets</li>
    <li>we have prepared a <%= link_to 'guide for providers', 'http://www.bettercareguide.org/pages/provider_guide' %>
      that shows providers how to register and why they should</li>
  </ul>
  <p>Better Care Guide can easily be adapted to be the basis of a directory / information portal for your authority - feel
    free to contact us if you are interested in this.  If requested ReallyCare can run it on your behalf for £1,200 per annum.</p>

  <p><%= link_to('Better Care Guide','http://www.bettercareguide.org') %> is the second website from the not-for-profit <%= link_to 'ReallyCare CIC','http://www.reallycare.org' %>
    - if your authority runs a community of volunteers you may be interested in our <%= link_to 'first website','http://www.youangel.org' %>.  All our products
    are open source, so the whole community can benefit from them.</p>
</div>

<%= render :partial => "shared/mailing_sig" %>
