<div style="color: #222">
<p>Hi</p>

<p>I am writing to tell you about a new web site called the Better Care Guide (http://www.bettercareguide.org).</p>

<p>Better Care Guide is the second TripAdvisor-like site to launch in the care space.  We feel that it has a number of
significant advantages:</p>
<ul>
  <li>presentation of the search results is not skewed depending on whether money has changed hands</li>
  <li>has a commitment to make the data available in the public interest to future e-market places</li>
  <li>works properly on smartphones and tablets</li>
</ul>

<p>Commentators have voiced many reservations about such sites, so we have taken care to ensure that providers
need not be taken by surprise if their service receives a poor review.  If you register on the site (which is
<strong>free - no credit card details are taken</strong>) there are several advantages:</p>

<ul>
  <li>you can enter an ‘elevator pitch’ that appears on the listings page</li>
  <li>you can enter a full description of your business that appears on the service page</li>
  <li>you are informed as soon as someone comments on your service, with the option to respond to less favourable comments before they are published (within certain timescales)</li>
  <li>you can ensure that contact details are kept up to date</li>
  <li>the URL of your page on the site will be submitted to search engines (subject to submission rate limits)</li>
</ul>

<p>We have prepared a <%= link_to 'guide for providers', 'https://docs.google.com/a/reallycare.org/document/d/1FmGrkUfEP-mamymoXSA9rlxo0h_7wWbBuyI-B-mMUV8/edit' %>
  that shows you how to take advantage of the site in just a few minutes.</p>

<p><%= link_to('Better Care Guide','http://www.bettercareguide.org') %> is the second website from the not-for-profit <%= link_to 'ReallyCare CIC','http://www.reallycare.org' %>
  - if you run a community of volunteers you may be interested in our <%= link_to 'first website','http://www.youangel.org' %>.  All our products
  will be open sourced, so the whole community will be able to benefit as our portfolio grows.</p>
</div>

<%= render :partial => "shared/mailing_sig" %>
