<%= render :partial => 'layouts/pictures' %>
<div class="span8">
  <%= form_for @rating, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Rating</legend>

    <div class="control-group">
      <%= f.label :rater_id, :class => 'control-label' %>
      <div class="controls">
        <%= render :partial => 'shared/rater', :locals => {:rating => @rating} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :service_id, :class => 'control-label' %>
      <div class="controls">
        <%= service_display(@rating) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :stars, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :stars, :class => 'number_field' %>
      </div>
    </div>

    <% if @rating.ivr_session %>
      <div class="control-group">
        <%= f.label :recording_url, :class => 'control-label' %>
        <div class="controls">
          <%= link_to "Name", @rating.name_recording_url, :target => '_blank', :class => 'text_field' %>&nbsp;&nbsp;&nbsp;
          <%= link_to "Comments", @rating.recording_url, :target => '_blank', :class => 'text_field' %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :comments, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :comments, :class => 'text_area span6', :rows => 5 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :response_required_by, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :response_required_by, :class => 'datetime_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :rater_type_id, :class => 'control-label' %>
      <div class="controls">
        <%= rater_type_description(@rating) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status_mask, :class => 'control-label' %>
      <div class="controls">
        <%= sprintf('%09s',@rating.status_mask.to_s(2)).gsub(' ','0') %>
        <%= f.number_field :status_mask, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :effective_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :effective_date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :creation_ip_address, :class => 'control-label' %>
      <div class="controls">
        <%= @rating.creation_ip_address %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :response_text, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :response_text, :class => 'text_area span6', :rows => 5 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :response_ip_address, :class => 'control-label' %>
      <div class="controls">
        <%= @rating.response_ip_address %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :response_datetime, :class => 'control-label' %>
      <div class="controls">
        <%= @rating.response_datetime %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :response_user_id, :class => 'control-label' %>
      <div class="controls">
        <%= @rating.response_user_id ? @rating.response_user.full_name('') : "" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', rating_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
</div>