<%= render :partial => 'layouts/pictures' %>
<div class="span8">
  <h1>Terms and Conditions</h1>
  <h3>General</h3>
  <p>
    Welcome to our website, “<%=  SITE_NAME %>” (the "Website"). The Website is provided by reallycare CIC, a community interest company limited by guarantee registered at Companies House under number 07721795
    in England and whose registered office is at Gate House, Stockland Lane, Hadlow Down, Uckfield, East Sussex TN22 4EA ("us","we" or "our" for short). "You" and "Your" means You as the user of our Website.
  </p>
  <h3>Use Of This Website</h3>
  <p>These terms and conditions ("Terms and Conditions"), together with the <%= link_to 'Privacy Policy', url_for(privacy_url) %>, set out how You may use our Website. By accessing the Website, You agree to these Terms and Conditions.</p>
  <p>You should read all the Terms and Conditions prior to using the Website. You should also save and/or print out a copy of these Terms and Conditions for future reference. If You do not agree to these Terms and Conditions, You should not use the Website and You should leave.</p>
  <p>The Website may contain content about issues, events, organisations and products which may be age-restricted and/or subject to other restriction in some locations. By entering these areas of the Website, You warrant that it is legal for You to view such material from the location where You are accessing the Website.</p>
  <h3>Variations</h3>
  <p>We may from time to time vary these Terms and Conditions. Please check these Terms and Conditions regularly to ensure You are aware of any variations made by us. If You continue to use this Website following a variation in Terms and Conditions, You are deemed to have accepted such variations. If You do not agree to such variations, You should not use this Website.</p>
  <h3>Accessing Our Website</h3>
  <p>Access to our Website is permitted on a temporary basis and we reserve the right to withdraw or amend the Website and its content and functions without notice. You are responsible for making all arrangements necessary to access this Website. You are also responsible for ensuring that all persons accessing our Website through Your internet connection are aware of these Terms and Conditions.</p>
  <p>We may prevent access to our Website for any individual at any time pending an investigation or permanently.  We do not have have to give reasons for doing this.</p>
  <h3>Reliance On Information Posted</h3>
  <p>Information, images, comments, features, blogs, opportunities and other content displayed on the Website, (the “Materials”), are not intended as advice and should not be relied upon as such. We disclaim all liability howsoever arising whether in contract, tort or otherwise (including, but not limited to, liability for any negligent act or omissions) to You or any person in respect of any claims or losses of any nature, arising directly or indirectly from:</p>
  <p>(i) anything done or the consequences of anything done or omitted to be done wholly or partly in reliance upon the whole or any part of the contents of this Website; and</p>
  <p>(ii) the use of any Materials on this Website or unauthorised access to this Website or otherwise. We will not be responsible for any breach of these Terms and Conditions caused by circumstances beyond Our reasonable control.</p>
  <h3>Intellectual Property</h3>
  <p>You may access, view and print out one copy of this Website and all Materials on a single device strictly in accordance with these Terms and Conditions.</p>
  <p>You may only view, print out and use the Website and the Materials for Your own personal, non-commercial use. We expressly reserve all intellectual property rights in and to the Website and the Materials and Your use of the Website and Materials is subject to the following restrictions. You must not:</p>
  <ul>
    <li>remove any copyright or other proprietary notices contained in the Materials;</li>
    <li>use any Materials from the Website in any manner that may infringe any of our copyright, intellectual property right or proprietary right or of any third parties; or</li>
    <li>reproduce, modify, display, perform, publish, distribute, disseminate, broadcast, communicate to the public or circulate to any third party or exploit this Website and/or the Materials in any way including for any commercial purpose, without our prior written consent.</li>
  </ul>
  <h3>Trade Marks</h3>
  <p>We expressly reserve all rights in and to the following domain name: “<%= SITE_URL %>” and all related domains and sub-domains.  Other trade marks, products and company names mentioned on the Website may be trademarks of their respective owners or licensors and the rights in such marks are reserved to their respective owners or licensors.</p>
  <h3>Linking To Our Website</h3>
  <p>You may link to any page of the Website for non-commercial purposes provided that You do so in a way that is fair and legal and which does not damage our reputation or take advantage of it. For the avoidance of doubt, the linking site must not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable.</p>
  <p>You must not link to our Website in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not remove or obscure by framing or otherwise, advertisements, any copyright notice, or other information published on the Website. Our Website must not be framed on any other site.</p>
  <p>
    If You would like to link to our site for commercial purposes or any purpose not included above, please
    <a href="/pages/contact">contact us.</a>
  </p>
  <p>We reserve the right to withdraw linking permission at any time and without notice.</p>
  <h3>Third Party Sites And Content</h3>
  <p>Our Website and/or the Materials may contain links to third party websites. If You decide to visit any third party site, You do so at Your own risk. We are not responsible for the content, accuracy or opinions expressed in such websites. Links do not imply that we are, or our Website is, affiliated to or associated with such sites.</p>
  <p>Your browsing and interaction on another website, including websites which have a link to our Website,is subject to that website's own rules and policies. Please read those rules and policies before proceeding.</p>
  <p>Our communications with You may contain information sourced from third party websites. Material from a third party site will be clearly marked and a link to the source website will be provided. We accept no responsibility or liability for any material supplied by or contained on any third party website which is linked from our communications with You, or any use of personal data by such a third party.</p>
  <p>The inclusion of any link in our communications with You does not imply endorsement by us of the linked site. If You decide to access linked third party websites, You do so at Your own risk.</p>
  <h3>Registration and Members Area</h3>
  <p>Registered Users have access to additional areas of the Website and/or functionality ("Members Area"). Access to the Members Area is controlled by username and password. Registered Users will be able to access the Members' Area of the site on the basis that:</p>
  <ul>
    <li>Username and password are personal to individual Registered Users and shall not be used by anyone else to access the <%= SITE_NAME %> Members' Area;</li>
    <li>Registered Users must provide true, accurate, current and complete information about themselves as requested in the registration and profile forms;</li>
    <li>Registered Users must not do anything that would assist anyone who is not a Registered User to gain access to the Members' Area or any documents contained therein;</li>
    <li>Registered Users must not maliciously create additional registration accounts for the purpose of abusing the functionality of the site, or other users; nor seek to pass themselves off as another user;</li>
    <li>Registered Users must keep their contact information accurate and up-to-date.</li>
    <li>Registered Users must not share their password, let anyone else access their account, or do anything else that might compromise the security of their account.</li>
    <li>Registered Users must not transfer their account to anyone without first getting our written permission.</li>
    <li>Registered Users must first read and understand the Website Terms and Conditions</li>
    <li>Registered Users must first read our Site Safety policy before making contact with any other Registered User outside of the <%= SITE_NAME %> community or when following any links to external sites</li>
  </ul>
  <h3>Conditions and the Privacy Policy.</h3>
  <p><%= SITE_NAME %>/reallycare CIC reserves the right to cancel membership to the site and/or refuse access to the Members Area. We shall not be liable for any loss or damages whatsoever arising from a Registered User's inability to access any pages on the site.</p>
  <h3>Information On The Website</h3>
  <p>Views and opinions expressed in the Materials and content submitted by Registered Users are those of the individual submitting the material, not those of <%= SITE_NAME %>/reallycare CIC and we accept no responsibility for the content of such posts.</p>
  <p>If You find any content on the Website to be in any way offensive, obscene, defamatory, racist, harmful, inaccurate, unlawful, illegal or deceptive in any way, please notify us using the 'contact us' function on the Website, using the subject title "Offensive Content".</p>
  <p>On receipt of Your complaint we may remove or block access to the content complained of and will investigate whether the content breaches our Content Standards.</p>
  <h3>Your Content</h3>
  <p>You agree to use the Website in accordance with the following rules:</p>
  <p>All content submitted by You, including, but not limited to, Your name, biographical information and all other names, likenesses, graphics, logos, marks, text, images, photographs, and all other information and material shall be called "Your Content" for short.</p>
  <p>Your Content posted on <%= SITE_NAME %> remains Your property. However, by posting Your Content onto <%= SITE_NAME %>, You grant to <%= SITE_NAME %>/reallycare CIC a non-exclusive, perpetual, irrevocable, transferable, royalty-free license (including full rights to sub-license) to use Your Content (including, without limit, the right to adapt, alter, amend or change Your content) in any media throughout the world without restriction, and You warrant that any material You submit is Your own work or that You have obtained all necessary rights and permissions of the relevant owner and that You have all relevant rights in Your Content to enable You to grant the rights in this clause.</p>
  <p>You hereby unconditionally and irrevocably waive and agree not to assert any and all moral rights and any other similar rights and all right of publicity and privacy in any country in the world in connection with our exploitation of the rights in Your Content granted here under, to the maximum extent permissible by law.</p>
  <p>Publication of Your Content will be at our sole discretion and we are entitled to make additions or deletions to any such material prior to publication, after publication or to refuse publication.</p>
  <p>You undertake to us that Your Content or its use in accordance with these Terms and Conditions shall not:</p>
  <ul>
    <li>infringe copyrights or database rights, trademarks, rights of privacy, publicity or other intellectual property or other rights of any other person or entity;</li>
    <li>contain any personal information relating to any persons under 18 unless You are either their parent or legal guardian or have obtained the signature and authority of a parent or legal guardian of any such person permitting You to submit such person’s name or other content related to such person;</li>
    <li>contain any content that does not meet our Content Standards (see below);</li>
    <li>contain any malicious code, such as viruses, worms, Trojan horses or other potentially harmful programs or material; or</li>
    <li>violate any applicable law, statute, ordinance, rule or regulation.</li>
  </ul>
  <p>If Your Content contains any material that is not owned by or licensed to You and/or which is subject to third party rights, You are responsible for obtaining, prior to submission of Your Content, all releases, consents and/or licenses necessary to permit use and exploitation of Your Content by us in accordance with these Terms and Conditions without additional compensation.</p>
  <p>Whenever You submit Your Content to the Website, Your Content must comply with our Content Standards. If You do not comply with our Content Standards, we reserve the right to suspend You from using the Website and/or accessing the Members' Areas without notice.</p>
  <h3>Content Standards</h3>
  <p>Your Content must:</p>
  <ul>
    <li>be accurate where it states facts;</li>
    <li>contain genuinely held views where it states opinions;</li>
    <li>clearly disclose any trade or professional relationship between You and the goods or services which are the subject of Your Content; and</li>
    <li>comply with applicable laws in any country in which it is posted.</li>
  </ul>
  <p>Your Content must not:</p>
  <ul>
    <li>contain any material which is defamatory of any other person;</li>
    <li>contain any material which is obscene or offensive;</li>
    <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</li>
    <li>infringe any copyright, database right or trade mark of any other person;</li>
    <li>contain misleading or deceptive statements or omissions or misrepresent Your identity or affiliation with any person;</li>
    <li>falsely represent that You are a consumer;</li>
    <li>contain any unsolicited or unauthorised advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or other forms of solicitation or advertisement commercial or otherwise, including but not limited to the promotion of religious beliefs in an unsolicitated manner;</li>
    <li>be made in breach of any legal duty owed to a third party such as a contractual duty or a duty of confidence;</li>
    <li>be likely to harass, upset, embarrass, alarm or annoy any other person;</li>
    <li>be likely to disrupt our service in any way;</li>
    <li>give the impression that it emanates from us where this is not the case - for example linking to external volunteering opportunities without making it clear that they are hosted on a different website to <%= SITE_NAME %>;</li>
    <li>advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
  </ul>
  <p>In addition we reserve the right to remove, without notice or explanation, any content that overtly promotes links to external sites or materials without contributing anything of substance to the <%= SITE_NAME %> community. Such examples may include <%= SITE_NAME %> comments that simply direct readers to posts on external blogging sites.</p>
  <h3>Use Of Your Content</h3>
  <p>Although we have no obligation to moderate content on this Website, we reserve the right to monitor any information transmitted or received through our Website. We reserve the right to reject, block, suspend or remove Your Content at any time and at our sole discretion, including in response to any complaints of objections received by Users or any other party in respect of Your Content. We in no way guarantee that Your Content or any part of it will be displayed on the Website.</p>
  <h3>Indemnity</h3>
  <p>You agree to compensate us and our respective trustees/directors, officers, employees, volunteers and applicable third parties in full from and against all third party claims, liabilities, losses and expenses (including reasonable legal fees) suffered by such persons arising out of, or related to or which may arise from Your Content and/or any breach by You of any term of these Terms and Conditions.</p>
  <h3>Our Liability</h3>
  <p>To the fullest extent permissible by law, we exclude and disclaim all warranties, terms, conditions and representations that might otherwise be implied by law in relation to this Website. In particular we do not represent or warrant that the Website will be error-free, free of viruses or other harmful components, or that defects will be corrected. You must take Your own precautions in this respect.</p>
  <p>We do not accept liability for any failure to maintain the Website and/or late or failed delivery of any Materials.</p>
  <p>We shall not be liable, under these Terms and Conditions for any indirect, special, incidental or consequential damages or otherwise, even if advised of the possibility of such damages.</p>
  <p>The Materials may contain inaccuracies and typographical errors. We do not warrant the accuracy or completeness of the Materials.</p>
  <p>The Materials may contain inaccurate information about volunteering events and opportunities and may include inaccurate information about organisations posting such opportunities. We do not accept any liability for such inaccuracies and we do not warrant that all such Materials are either genuine and we do not warrant the accuracy or completeness of such Materials.</p>
  <p>We shall not be liable for any loss caused as a result of Your actions or inactions based on the Materials available on this Website. However, nothing in these Terms and Conditions shall affect Your statutory rights, and nothing in these Terms and Conditions shall exclude our liability for:</p>
  <ul>
    <li>death or personal injury arising through negligence;</li>
    <li>fraudulent misrepresentation; and/or</li>
    <li>anything else that cannot be excluded or limited by us under English law.</li>
  </ul>
  <h3>Privacy And Your Personal Data</h3>
  <p>The privacy of Your personal data is important to us. Please see our Privacy Policy for details of how we will process Your personal data.</p>
  <h3>Jurisdiction and Applicable Law</h3>
  <p>The Courts of England &amp; Wales will have exclusive jurisdiction over any claim arising from or related to a visit to this Website. English Law will apply to these Terms and Conditions.</p>
  <h3>Contact Us</h3>
  <p>
    If You have any concerns or queries about material which appears on our Website or if You have questions about Your use of this Website or these Terms and Conditions please
    <a href="/pages/contact">contact us.</a>
  </p>

</div>