<h1>Listing regulator_scores</h1>

<table>
  <tr>
    <th>Regulator description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regulator_scores.each do |regulator_score| %>
  <tr>
    <td><%= regulator_score.regulator_description %></td>
    <td><%= link_to 'Show', regulator_score %></td>
    <td><%= link_to 'Edit', edit_regulator_score_path(regulator_score) %></td>
    <td><%= link_to 'Destroy', regulator_score, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regulator score', new_regulator_score_path %>
